*{
    padding:0;
    margin:0;
}

/* navigation area  */
.navbar{
    display: flex;  
    background-color: black; 
}

.background{
    background:rgba(0,0,0,0.7) url('../image/background.jpg');
    background-size:cover;
    background-blend-mode:darken;
}

.logo{
    display:flex;
    width:30%;
    justify-content: center;
    align-items: center;
    
}

.logo img{
    width:33%;
    border:2px solid gray;
    border-radius:60px;
}

.navlist{
    
    width:60%;
    display: flex;
    align-items: center;
}

.navlist li{
    padding:12px 32px;
    list-style:none;
}

.navlist li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.navlist li a:hover{
    cursor:pointer;
    color:gray;
}

.rightnav{
    display:flex;
    align-items: center;
    justify-content: center;
    width:36%;
    
}

.rightnav .btn-sm{
    margin:12px 34px 12px 10px;
    padding:2px 15px;
    background:maroon;
    color:white;
    border:2px solid black;
    border-radius:15px;
    font-size: 20px;
    font-weight: bold;
    outline:none;
}

.rightnav .btn-sm:hover{
    cursor: pointer;
}

.rightnav #search{
    padding:4px 80px;
    border:2px solid white;
    border-radius:5px;   
}

.burger{
    margin:10px 6px 20px 0px;
}

.line{
    background-color: white;
    width:40px;
    height: 4px;
    margin:8px 3px;
}

/* firstSection area  */
.firstSection{
    height: 100vh;
}

.mainbox{
    
    width:700px;
    margin:auto;
    display: flex;
    height:400px;
    justify-content: center;
    align-items: center;
}

.secondHalf{
    width:350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondHalf img{
    width:100%;
}

.firstHalf{
    width:1000px;
}

.big-text{
    font-size: 40px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small-text{
    color:white;
    margin:4px 0px 0px 0px;
}

.btn{
    margin:5px 0px;
    padding:3px 3px;
    color:white;
    cursor:pointer;
    border:2px solid white;
    border-radius:10px;
    background:none;
    font-size: 15px;
    font-weight: bold;
}

/* secondSection area  */
/* f irst area */
.secondSection .first{
    display:flex;
    
}

.first .image img{
    width:290px;
    margin:90px 80px 0px 0px;
    height:250px;
    border-radius:20px;
    border:2px solid gray;
}

.first .content{
    margin:60px 0px 10px 200px;
    padding:0px 20px 0px 0px;
    
}

/* second area  */
.secondSection .second{
    display: flex;
}

.second .image img{
    width:290px;
    margin:90px 0px 0px 200px;
    height:280px;
    border-radius:20px;
    border:2px solid gray;
}

.second .content{
    margin:60px 80px 10px 60px;
    padding:0px 0px 0px 10px;
}

/* third area  */
.secondSection .third{
    display:flex;
    
}

.third .image img{
    width:290px;
    margin:90px 80px 0px 0px;
    height:250px;
    border-radius:20px;
    border:2px solid gray;

}

.third .content{
    margin:60px 0px 10px 200px;
    padding:0px 20px 0px 0px;
    
}

/* contactSection area  */
.contactSection{
    background-color:#e6ded7;
    height:600px;
    display:flex;
    flex-direction: column;
}

#myform{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#myform .myinput{
    width:600px;
    margin:05px 0px;
    padding:10px 5px;
    outline:none;
    border-radius:8px;
    border:2px solid whitesmoke;
}

.contactSection h1{
    text-align:center;
    margin:20px 10px;
    font-size: 50px;
}

#myform #concern{
    margin:7px 0px;
    width:610px;
    outline:none;
    border-radius:8px;
    border:2px solid whitesmoke;
}

.outer{
    width:620px;
}
#myform #btn{
    margin:5px 0px;
    font-size:20px;
    border-radius:10px;
    outline:none;
    font-weight:bold;
    border:2px solid gray;
    padding:5px 5px;
}

/* footer area  */
.text-footer{
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin:15px 0px;
    
}

@media only screen and (min-width:280px) and (max-width:1180px){
    .navbar{
       width:1329px;
        flex-direction: column;
    }
    .navlist{
        flex-direction: column;
        width:620px;
        justify-content: center;
    }
    .navlist li a{
        font-size:40px;
    }
    .rightnav{
        flex-direction: column;
        width:618px;
    }
    .burger{
        margin:10px auto;
    }
    .logo{
        width:55%;
    }
    .firstSection{
        width:1329px;
        height:550px;
    }
    .secondSection{
        
    }
    .contactSection{
        width:1333px;
        height:682px;
    }
    .myinput{
        font-size:30px;
    }
    .text-footer{
        width:1333px;
        
    }
    .mainbox{
        height:484px;
        flex-direction: column-reverse;
    }
    .firstHalf{
        width:510px;
        margin:0px 53px 0px 0px;
        font-size:22px;
    }
    .secondHalf{
        width:250px;
        margin:18px 50px 0px 0px;
    }
    .first{
        display:flex;
        width:1315px;
        flex-direction: column-reverse;
        align-items:center;
    }
    .first .content{
        width:800px;
    }
    .first .image{
        width:300px;
        margin:10px auto;
    }
    .second{
        display:flex;
        flex-direction: column;
        width:1604px;
        align-items: center;
    }
    .second .content{
        width:800px;
        margin:auto;
    }
    .second .image{
        width:1000px;
        margin:10px auto; 
    }
    .third{
        display:flex;
        flex-direction: column-reverse;
        width:1315px;
        align-items: center;
    }
    .third .content{
        width:800px;
    }
    .third .image{
        width:300px;
        margin:10px auto;
    }
}


